<div class="job-page">
<h2><%= @job.cargo_name %></h2>
</div>

<div class="job-page">

<%= simple_form_for @job do |f| %>

  <%= f.input :cargo_name, label:'Name Your Job', required: true, label_html: { class: 'cargobox'} %>
  <%= f.input :cargo_description, label: 'Describe Your Cargo', as: :text, required: true, minlength: 20, label_html: { class: 'cargobox'}%>
  <%= f.input :amount_of_c, label: 'Number of Containers', required: true, label_html: { class: 'cargobox'}%>
  <%= f.input :cost, label: 'Cost of Job', required: true, label_html: { class: 'cargobox' }, input_html: { min: 100 } %>
  <%= f.input :origin, collection: ["Hong Kong", "London", "Los Angeles", "New York City", "Rotterdam", "Shanghai", "Shenzen"], required: true %>
  <%= f.input :destination, collection: ["Hong Kong", "London", "Los Angeles", "New York City", "Rotterdam", "Shanghai", "Shenzen"], required: true %>

  <%= f.button :submit %>
<% end %>


<br>
<%= link_to 'Delete Job', job_path, method: :delete %> 


</div>




