<div class="job-page">
<h2> Manage Your Jobs </h2>

<!-- list out the  -->

<% @jobs.each do |j| %>
<% if j.client_id == current_client.id %>
<div class="jobs"> <a href="/jobs/<%= j.id %>/edit"><%=j.cargo_name %></a> </div>
<% end %>
<% end %>

<h3> Cost Calculator </h3>
 
  <form class="costCalc">
   <div>Client Rate: <input type="text" name="Client Rate" id = 'rate' value = '<%= @client.rate%>'></input></div>
   <div>Number of Containers: <input type="text" name="Number of Containers" id= 'containers' value = ""> </input></div>
 	</form>
    <div><button id = 'cost_button'> Calculate Cost </button></div>
    <div class="cost">Cost: <div id = 'cost'> </div></div>
</div>



<div class="job-page">
  <h2> Build Your Job </h2>

<%= simple_form_for @job do |f| %>

  <%= f.input :cargo_name, label:'Name Your Job', required: true, label_html: { class: 'cargobox'} %>
  <%= f.input :cargo_description, label: 'Describe Your Cargo', as: :text, required: true, label_html: { class: 'cargobox'}%>
  <%= f.input :amount_of_c, label: 'Number of Containers', required: true, label_html: { class: 'cargobox'}%>
  <%= f.input :cost, label: 'Cost of Job', required: true, label_html: { class: 'cargobox'} %>
  <%= f.input :origin, collection: ["Hong Kong", "London", "Los Angeles", "New York City", "Rotterdam", "Shanghai", "Shenzen"], required: true %>
  <%= f.input :destination, collection: ["Hong Kong", "London", "Los Angeles", "New York City", "Rotterdam", "Shanghai", "Shenzen"], required: true %>

  <%= f.button :submit %>
<% end %>
</div>
