
<h1><%= @job.cargo_name %></h1>

<div><strong>Job Description:</strong> <%= @job.cargo_description %></div>
<div> <strong>Cost:</strong> </div>
<div> <strong>Amount of Cargo: <%= @job.amount_of_c %></strong>
<div><strong> Origin:</strong> <%= @job.origin %></div>
<div><strong> Destination:</strong> <%= @job.destination %> </div>
<div><strong> Assigned Boats:</strong></div>