  <head>
    <title>ShipHappens</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body class="layout-body">
  <div class="navbar">

  <% if current_client %>
    <%= link_to 'Dashboard', current_client, :class => current_class?(client_path)%>
    <%= link_to 'Boats', boats_path,  :class => current_class?(boats_path)  %>
    <%= link_to 'Jobs', jobs_path,  :class => current_class?(jobs_path)  %>
    <%= link_to "Logout", destroy_client_session_path, method: :delete %>
  <% else %>
    <%= link_to "Home", root_path, :class => current_class?(root_path) %>
    <%= link_to 'Login', client_session_path,  :class => current_class?(client_session_path)  %>
    <%= link_to 'Signup', new_client_registration_path,  :class => current_class?(new_client_registration_path)  %>
  <% end %>

</div>

<div class="client-profile">
  <h2>Welcome

<% if current_client.name == nil  %>
<%= current_client.email %>
<% else %>
<%= current_client.name %>
<% end %></h2>

<%= link_to 'Edit Client', edit_client_registration_path %>

</div>

<div class="client-profile"> 
  <h2>Settings</h2> 
  <%= simple_form_for current_client do |f| %>
  <%= f.input :name, label:'Company Name:' %>
  <%= f.input :rate, label: 'Rate Per Package:' %><br>
  <%= f.button :submit %>
<% end %>
</div>


<div class="client-profile">
<h2>Current Rate:
<%= current_client.rate %></h2>
</div>

<div class="client-profile">
<h2>Current Locations:</h2>

<% if @boats.present? %>
<% @boats.each do |b| %>
  <div>Boat Name: <a href="/boats/<%= b.id %>" ><%= b.boat_name %></a></div>
  <div>Location: <%= b.location %><</div>
  
  <% end %>
<% end %>

</div>



</body>

