<div class="boat-page">
<h2> Create a New Boat </h2>
<%= render 'form'%>
</div>

<div class="boat-page">
<h2>List of all boats</h2>
<% @boats.each do |b| %>
	<div>Boat Name: <a href="/boats/<%= b.id %>" ><%= b.boat_name %></a></div>
	<br/>
	<div><%= image_tag b.image.url(:med)%></div>
	<br/>
	<div>Boat Location: <%= b.location %></div>
	<br/>
	<div>Boat Capacity: <%= b.capacity %></div>
	<br/>
	<hr>
<% end %>
</div>

