<h1>You've selected the boat <%= @boat.boat_name %></h1>

<div>Boat Name: <%= @boat.boat_name %></div>
<div><%= image_tag @boat.image.url, :size => "450x300" %></div>

<div>Boat Location: <%= @boat.location %></div>
<div>Boat Capacity: <%= @boat.capacity %></div>


<% @array = [] %>

<div> Assigned Jobs: 
	<% @boat.jobs.each do |s| %>
	<%= s.cargo_name %> 
	<% @array.push(s.id) %>
	<% end %>
</div>


<h2> Assign Jobs to a Boat </h2>
	<% @jobs.each do |j| %>
		<% if @array.include? j.id%>
		<% else %>
		<%= j.cargo_name %>	
		<%= form_for :job, url: {action: 'assign', controller: 'jobs'} do |s| %>
			<%= hidden_field_tag 'id', @boat.id %>
			<%= hidden_field_tag 'jobid', j.id %>
			<%= s.submit %>
	<% end %>
	<% end %>
	<% end %>
