
<div class="main_boat_box">
<h1>You've selected the boat <%= @boat.boat_name %></h1>

<div><%= link_to('Destroy', boat_path, method: :delete)%></div>
<div>Boat Name: <%= @boat.boat_name %></div>
<div><%= image_tag @boat.image.url, :size => "450x300" %></div>

<!-- blank arrays for pushign assigned jobs -->
<% @array = [] %> <!-- this array contains the job ids -->
<% @array2 = [] %><!-- this array contains the number of containers per job -->


<<<<<<< HEAD
<div> Assigned Jobs: 
	<% @boat.jobs.each do |s| %> <!-- loops through jobs assigned to the boat -->
	<%= s.cargo_name %> <!-- dipslays name of each job -->
	<% @array.push(s.id) %><!-- push job ids to array -->
	<%= s.amount_of_c %><!-- displays amount of containers for each job -->
	<% @array2.push(s.amount_of_c) %><!-- push amount of containers to array -->
=======
<div> Assigned Jobs:
	<% @boat.jobs.each do |s| %>
	<%= s.cargo_name %>
	<% @array.push(s.id) %>
	<%= s.amount_of_c %>
	<% @array2.push(s.amount_of_c) %>
>>>>>>> b1ead4c25d29dc5dab6f433c677a5d2fd65240b8
	<% end %>
</div>



<div>Boat Location: <%= @boat.location %></div>
<div>Total Boat Capacity: <%= @boat.capacity %></div>
<div> Current Boat Capacity:
	<!-- current boat capacity caluclated by subtracting total of containers from assigned jobs (array2.sum = the total of the containers pushed to the storage array) from the total boat capacity -->
	<% @current_capacity = @boat.capacity - @array2.sum %>
	<%= @current_capacity %>
 </div>
</div>


<div class="boat-page">
<h2> Assign Jobs to a Boat </h2>
<h4> Note: Only jobs which originate in your boat's port that the boat has space to carry will appear </h4>
<<<<<<< HEAD
	<% @jobs.each do |j| %> <!-- loop through all jobs -->
		<% unless @array.include? j.id%> 
			<!-- displays only jobs that have not been assigned to the boat (array stores the job ids that have been assigned, hence if a job is included in that array it should not be displayed here) -->
			<% if j.amount_of_c < @current_capacity && j.origin == @boat.location %> 
		<!-- also only displays jobs where the number of containers is less than current capacity of boat and where it's origin is the same as the boat location -->
		<%= j.cargo_name %>	
=======
	<% @jobs.each do |j| %>
		<% unless @array.include? j.id%>
			<% if j.amount_of_c < @current_capacity && j.origin == @boat.location %>
		<%= j.cargo_name %>
>>>>>>> b1ead4c25d29dc5dab6f433c677a5d2fd65240b8
		<%= form_for :job, url: {action: 'assign', controller: 'jobs'} do |s| %>
			<%= hidden_field_tag 'id', @boat.id %>
			<%= hidden_field_tag 'jobid', j.id %>
			<%= s.submit %>
	<% end %>
	<% end %>
  <% end %>
<% end %>	
</div>
