<!DOCTYPE html>
<html>
<div class="layout-body">
  <head>
    <title>ShipHappens</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <%= link_to "Home", root_path, :class => current_class?(root_path) %>

  <% if current_client %>
    <%= link_to 'Dashboard', current_client%>
    <%= link_to 'Boats', boats_path,  :class => current_class?(boats_path)  %>
    <%= link_to 'Jobs', jobs_path,  :class => current_class?(jobs_path)  %>
    <%= link_to "Logout", destroy_client_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', client_session_path,  :class => current_class?(client_session_path)  %>
    <%= link_to 'Signup', new_client_registration_path,  :class => current_class?(new_client_registration_path)  %>
  <% end %>

  
</div>


  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
